body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #eae6e6;
    margin: 0;
    padding: 0;
    
}

#game-container {
    margin: 20px auto;
    width: 80%;
}

#disease-container, #drop-container {
    margin: 20px 0;
}

#disease-name {
    font-size: 1.6em;
    color:  #000000;
}

#symptoms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.symptom {
    padding: 10px;
    margin: 5px;
    background-color: #d5ec05;
    border: 2px solid #000000;

    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    text-align: center;
}

#drop-area {
    width: 100%;
    min-height: 100px;
    border: 2px dashed #aaa;
    border-radius: 5px;
    background-color: #eee;
    position: relative;
}

#feedback {
    margin: 20px;
    font-size: 1.2em;
    color: #f70c03;
}

.correct {
    color: #5bc0de;
}

#next-btn {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}


#dropped-symptoms, #wrong-symptoms {
    text-align: left;
    margin-top: 20px;
}

#dropped-list, #wrong-list {
    list-style-type: none;
    padding: 0;
}

#dropped-list li, #wrong-list li {
    background-color:  #04f53c;
    border: 1px solid #c3e6cb;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}



#timer {
    font-size: 2em;
    margin-bottom: 3px;
    align-items: center;
}

header {
    background: rgb(5, 31, 176);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

#displaySection{
    font-size: 2em;
   
}
#displayText{
    
    color: orangered;
}

.hide{
    display:none;
}

#tna{
    font-size: 1.3em;
}

/* Ensure the Skip button is styled appropriately */
#Skip {
    background-color: #ff5922; /* Orange color */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#Skip:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#next-btn:disabled{
    cursor: not-allowed;
}

#details {
    list-style-type: none; /* Removes bullet points */
    padding: 5px; /* Removes default padding */
    margin: 0; /* Removes default margin */
    display: flex; /* Enables flexbox layout */
    gap: 20px; /* Adds space between items */
    justify-content: center;
}
#details li {
    display: flex; /* Allows for flexible item arrangement */
}

